<section class="hero">
    <div class="columns my-3">
        <div class="column"></div>
        <div class="column is-three-quarters">
            <p class="subtitle is-2 has-text-centered">Todas las reservaciones <%= link_to "", new_booking_path, class: "mdi mdi-plus-box has-text-primary mdi-36px limpiar" %></p>
            <div class="container">
                <div class="field is-pulled-left">
                    <div class="tags are-medium has-addons">
                        <span class="tag my-1">Reservaciones</span>
                        <span class="tag is-link my-1"><%= @reservas.count %></span>
                        <span class="tag my-1">Ganancias</span>
                        <span class="tag is-link my-1">Q<%= @reservas.sum(:monto) %></span>
                    </div>
                </div>
                <div class="field is-pulled-right">
                    <%= form_tag bookings_path, method: :get do %>
                    <div class="field has-addons">
                        <div class="control">
                            <%= date_field_tag :search, params[:search], placeholder: "dd/mm/aaa", class: "input"%>
                        </div>
                        <div class="control">
                            <%= submit_tag "Buscar por fecha", class: "mdi mdi-search button is-link is-light"%>
                            <%= link_to "", bookings_path, class: "mdi mdi-broom has-text-dark mdi-24px limpiar" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Responsable</th>
                        <th>Telefono</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Monto</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% @reservas.each do |reserva| %>
                    <tr>
                        <td><%= reserva.nombre%></td>
                        <td><%= reserva.telefono%></td>
                        <td><%= reserva.fecha%></td>
                        <td><%= reserva.hora%></td>
                        <td>Q<%= reserva.monto%></td>
                        <td><%= link_to "Editar", edit_booking_path(reserva), class: "has-text-success	"%></td>
                        <td><%= link_to "Eliminar", booking_path(reserva), method: :delete, class: "has-text-danger", data: {confirm: "Deseas eliminar esta reservación?"}%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <%= will_paginate @reservas, renderer: BulmaPagination::Rails, :previous_label => t("anterior"), :next_label => t("siguiente"), class: 'is-rounded is-centered' %>
        </div>
        <div class="column"></div>
    </div>
</section>