<section class="hero">
    <div class="columns is-vcentered formulario my-3">
      <div class="column"></div>
      <div class="column py-5 my-6 has-text-centered has-background-white fondo has-text-light">
        <p class="subtitle is-3 has-text-light">Iniciar Sesión</p>
        <hr>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="label has-text-light">Correo</div>
            <%= f.email_field :email, autofocus: true, class: "input" %>
          </div>

          <div class="field">
            <div class="label has-text-light">Contraseña</div>
            <%= f.password_field :password, autofocus: true, class: "input" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Iniciar Sesión", class: "button is-link is-light"%>
          </div>
        <% end %>
      </div>
      <div class="column"></div>
    </div>
</section>

<!--<%= render "devise/shared/links" %>-->
