<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="https://image.flaticon.com/icons/svg/3203/3203244.svg" width="120" height="32">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <% if user_signed_in? %>
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Administrar</a>
        <div class="navbar-dropdown">
            <%= link_to "Reservaciones", bookings_path, class: "navbar-item" %>
            <%= link_to "Estadisticas", statistics_path, class: "navbar-item" %>
            <%= link_to "Reportes", reports_path, class: "navbar-item" %>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "button is-danger is-outlined" %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="navbar-start">
      <%= link_to "Inicio", root_path, class: "navbar-item btn-nav" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Admin", new_user_session_path, class: "button is-light" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</nav>